#navbartop {
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    background: #ffffff;
    color: #FF5530;
    font-size: 1.25rem;
    box-shadow: 0 5px 5px -5px rgba(0,0,0,.2);
}

.navbar-brand {
    color: #FF5530;
}

.navbar {
    color: #FF5530;
}